{% extends 'admin/base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-4">
                <h3 class="mb-3">Change Password</h3>

                {{ form_start(passwordForm) }}
                    <div class="mb-3">
                        {{ form_label(passwordForm.currentPassword) }}
                        {{ form_widget(passwordForm.currentPassword, {'attr': {'class':'form-control'}}) }}
                        {{ form_errors(passwordForm.currentPassword) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(passwordForm.newPassword.first) }}
                        {{ form_widget(passwordForm.newPassword.first, {'attr': {'class':'form-control'}}) }}
                        {{ form_errors(passwordForm.newPassword.first) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(passwordForm.newPassword.second) }}
                        {{ form_widget(passwordForm.newPassword.second, {'attr': {'class':'form-control'}}) }}
                        {{ form_errors(passwordForm.newPassword.second) }}
                    </div>

                    <div>
                        <button class="btn btn-beatpass-primary">Update password</button>
                        <a href="{{ path('admin_profile') }}" class="btn btn-secondary ms-2">Cancel</a>
                    </div>
                {{ form_end(passwordForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
